################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Security/.vs/Security
/Security/Movies.api/obj
/Security/Movies.api/WeatherForecast.cs
